@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
       <partial name="_PresentationLayout" />
    } else 
    {
    <partial name="_NotLoggedInLayout" />
    }
</div>
