@model SlackDAW1.Models.Message

<h2>Create New Message</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Messages", method: FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Body)
        @Html.TextAreaFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)
    </div>

    <input type="submit" value="Create" class="btn btn-primary" />
}
