<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a href="/Channels/New">Create new channel</a>
        <a href="/Channels/Index">View all channels</a>

        <br />

        <a href="/Messages/New">Create new message</a>
        <a href="/Messages/Index">View all messages</a>

        <br />

        <a href="/Categories/New">Create new category</a>
<a href="/Categories/Index">View all categories</a>
    </div>
</body>
</html>
